@font-face {
    src: url("../css/Kastelov - Kinetika Light.otf");
    font-family: KinetkaLight;
}
@font-face {
    src: url("../css/Kastelov - Kinetika Ultra.otf");
    font-family: KinetkaUltra;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: KinetkaLight;
    /*height: 100%;*/
}

@media screen and (min-width: 1201px) {
    .menu_open{
        display: none !important;
    }
}
@media screen and (max-width: 1200px){
    .menu-box{
        display: none;
        pointer-events: none;
        z-index: 9999;
        position: absolute;
        width: 25% !important;
        height: 100% !important;
        background: none !important;
    }
    .cont{
        width: 100% !important;
        border-top-left-radius: 0 !important;
    }
}
@media screen and (max-width: 768px){
    .menu-box{
        width: 40% !important;
    }
    .cont{
        flex-direction: column !important;
    }
    .first-module{
        width: 100% !important;
        padding: 40px 40px 20px 40px !important;
    }
    .second-module{
        padding: 20px 40px 40px 40px !important;
        width: 100% !important;
    }
    .tasks{
        margin: 0 !important;
    }
    .far{
        font-size: 25px !important;
        margin-right: 20px !important;
    }
    .avatar{
        height: 50px !important;
        width: 50px !important;
    }
    .fa-bars{
        font-size: 25px !important;
        padding: 15px !important;
        margin-left: 20px !important;
    }
    .logo{
        height: 50px !important;
        margin-left: 20px !important;
    }
    .page_address{
        font-size: 19px !important;
    }
}
@media screen and (max-width: 570px){
    .page_address{
        display: none !important;
    }
}
@media screen and (max-width: 426px){
    .page_address{
        display: none !important;
    }
    .menu-box{
        width: 70% !important;
    }
    .avatar{
        margin-right: 20px !important;
    }
    .fa-bars{
        margin-left: 5px !important;
    }
    section{
        font-size: 20px !important;
    }
    section div{
        font-size: 16px !important;
    }
    .fa-comments{
        display: none !important;
    }
    .link{
        font-size: 16px !important;
    }
    footer{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 321px){
    section{
        font-size: 16px !important;
    }
    section div{
        font-size: 15px !important;
    }
    .link{
        font-size: 15px !important;
    }
    .first-module{
        padding: 20px 20px 10px 20px !important;
    }
    .second-module{
        padding: 10px 20px 20px 20px !important;
    }
    .logo{
        margin-left: 0 !important;
    }
    footer{
        font-size: 15px !important;
    }
    .fa-bell{
        display: none !important;
    }
}



/* Header */

header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header_left_hand{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_left_hand_inner_block{
    margin-left: 50px;
    height: auto;
}

.header_right_hand{
     height: 100px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
 }
.header_right_hand_inner_block{
    margin-right: 50px;
    font-size: 35px;
    cursor: pointer;
    height: auto;
    transition: .5s;
}
.header_right_hand_inner_block:hover{
    color: #888888;
}

/* Header inner parts */

.logo{
    height: 80px;
    cursor: pointer;
}
.page_address{
    font-weight: bold;
    font-size: 20px;
    height: auto;
}
.avatar{
    height: 70px;
    border-radius: 100px;
    transition: .5s;
}
.avatar:hover{
    filter: brightness(120%);
}
.fa-bars{
    margin-left: 40px;
    font-size: 35px;
    cursor: pointer;
}

/* Main part of site */

.main-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
}

/* Container for sections */

.cont{
    width: 85%;
    border-top-left-radius: 30px;
    background: #f3f6f8;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* Menu part */

.menu-box{
     width: 15%;
     background: #f3f6f8;
     height: auto;
}
.menu{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-bottom-right-radius: 30px;
}

/* Big parts of menu*/

.high_name{
    width: 80%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    height: auto;
}
.high_name a{
     width: auto;
     margin-left: 25px;
     margin-bottom: 5px;
     font-size: 18px;
     cursor: pointer;
     height: auto;
 }

/* Big parts names */

.high{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    height: auto;
}
.high_images{
    font-size: 20px;
    color: rgba(0,0,0,.5);
    margin-right: 5px;
    height: auto;
}

/* Left half of container */

.first-module{
    padding: 40px 20px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

/* Right half of container */

.second-module{
     padding: 40px 40px 40px 20px;
     margin-left: 0;
     height: auto;
     width: 60%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

/* Sections */

section{
    background: white;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    height: auto;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05);
}
section hr{
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
}
section div{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    height: auto;
}

/* News */

.news img{
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.higher-name{
    font-size: 25px;
    font-weight: bold;
}
.news a{
    font-size: 20px;
    color: #677cff;
}
.news-block{
    width: 95%;
}
.news-block a{
     font-weight: bold;
}
.high-news-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Schedule */

.schedule a{
     font-size: 20px;
     color: #677cff;
}

/* Tasks */

.tasks a{
    font-size: 20px;
    color: #677cff;
}
.zadachi p{
    margin-bottom: 3px;
}

/* Footer */

footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f3f6f8;
    font-size: 20px;
}
footer a{
    color: #677cff;
    font-weight: bold;
}
footer p{
    margin-bottom: 5px;
}

/* Button modifications */

.nice-look{
    display: block;
    transition: .5s;
}
.nice-look:after{
    content: "";
    display: block;
    border-bottom: 2px solid hsl(170, 70%, 50%);
    transition: .5s;
    transform: scaleX(0);
}
.nice-look:hover:after{
    transform: scaleX(1);
}
.cont{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.tasks-name{
    text-align: center;
}
.sections-one{
    padding-right: 15px;
}
.boxes .sections{
    width: 100%;
}
.title {
	font-size: 25px;
}
.date {
	color: grey;
	font-size: 15px;
}
.text {
	font-size: 20px;
}
.center-img {
	display: block;
	margin: 0 auto;
	width: 40%;
	border-radius: 5px;
	margin-top: 15px;
}
.Whose-photo{
	font-size: 15px;
}