@font-face {
    font-family: "1st";
    src: url(fonts/1st.ttf); 
   }
.logo{
	position:fixed;
	width: 260px;
}
.but1:hover {
	transform: scale(1.1);
	background-color: gray;
	color: white;
	border-color: black;
}
.but1 {
	transition: 1s transform, 1s background-color, 1s color, 1s border-color;
	cursor: pointer;
	padding: 12.5px 15px;
	height: 40px;
}
.but2:hover {
	transform: scale(1.1);
	background-color: gray;
	color: white;
}
.but2 {
	transition: 1s transform, 1s background-color, 1s color;
	cursor: pointer;
	padding: 12.5px 15px;
	height: 40px;
}
.but3:hover {
	transform: scale(1.1);
	background-color: gray;
	color: white;
}
.but3 {
	transition: 1s transform, 1s background-color, 1s color;
	cursor: pointer;
	padding: 12.5px 15px;
	height: 40px;
}
.but4:hover {
	transform: scale(1.1);
	background-color: gray;
	color: white;
}
.but4 {
	transition: 1s transform, 1s background-color, 1s color;
	cursor: pointer;
	padding: 12.5px 15px;
	height: 40px;
}
.but5:hover {
	transform: scale(1.1);
	background-color: gray;
	color: white;
}
.but5 {
	transition: 1s transform, 1s background-color, 1s color;
	cursor: pointer;
	padding: 12.5px 15px;
	height: 40px;
}
.but6:hover {
	transform: scale(1.1);
	background-color: gray;
	color: white;
}
.but6 {
	transition: 1s transform, 1s background-color, 1s color;
	cursor: pointer;
	padding: 12.5px 15px;
	height: 40px;
}
.but1 {
	transition: 1s transform, 1s background-color, 1s color;
	cursor: pointer;
	padding: 12.5px 15px;
	height: 40px;
}
.but1{
	position: fixed;
	top: 154px;
	left: 2%;
	width: 190px;
	height: 44px;
	text-align: center;
	background-color: white;
	border: 2px black solid;
	border-radius: 5px;
}
.but2{
	position: fixed;
	top: 229px;
	left: 2%;
	width: 190px;
	height: 44px;
	text-align: center;
	background-color: white;
	border: 2px black solid;
	border-radius: 5px;
}
.but3{
	position: fixed;
	top: 304px;
	left: 2%;
	width: 190px;
	height: 44px;
	text-align: center;
	background-color: white;
	border: 2px black solid;
	border-radius: 5px;
}
.but4{
	position: fixed;
	top: 379px;
	left: 2%;
	width: 190px;
	height: 44px;
	text-align: center;
	background-color: white;
	border: 2px black solid;
	border-radius: 5px;
}
.but5{
	position: fixed;
	top: 454px;
	left: 2%;
	width: 190px;
	height: 44px;
	text-align: center;
	background-color: white;
	border: 2px black solid;
	border-radius: 5px;
}
.but6{
	position: fixed;
	top: 529px;
	left: 2%;
	width: 190px;
	height: 44px;
	text-align: center;
	background-color: white;
	border: 2px black solid;
	border-radius: 5px;
}
.middle1{
	font-family: "1st";
	width: 760px;
	height: 66px;
	background-color:#B7B7B7;
	color: white;
	position: fixed;
	text-align: center;
	left: 365px;
	top:0%;
}
.middle2{
	font-family: "1st";
	width: 760px;
	height: 66px;
	top:15%;
	background-color:#B7B7B7;
	color: white;
	position: fixed;
	text-align: center;
	left: 365px;
}
.middle3{
	font-family: "1st";
	position:fixed;
	left: 365px;
	top: 387px;
	width: 760px;
	height: 465px;
	vertical-align: middle;
	color: white;
	background-color:#B7B7B7;
}